<!DOCTYPE html>
<html>
<head>
	<title>TRANSLITERATION</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="col-md-3">
</div>
<div class="col-md-6">
<form action="/ans" method="post">
	<h3>Enter the text in ENGLISH</h3><br>
	<input type="text" name="trans" placeholder="Enter data here" required="" style="height:250px;width:100%;font-size: 28px;">
	<input type="submit" value="Submit">
</form>
<br>
<form action="/hindi" method="post">
	<h3>Enter the text in DEVANAGARI</h3>
	<input type="text" name="trans" placeholder="Enter data here" required="" style="height:250px;width:100%;font-size: 28px;">
	<input type="submit" value="Submit">
</form>
</div>
<div class="col-md-3">
</div>
</body>
</html>